body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fondo{
    background-color: blueviolet;
    

}
.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    width: 100%;
    height: 600px;
}
#eye{
    display:block ;
    max-width: 500px;
}
